@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-menu {
  background-color: white;
  border: none;
  border-bottom: 1px solid rgb(196, 198, 205);
  display: flex;
}
.main-menu a {
  text-decoration: none;
  color: rgb(145, 148, 161);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.main-menu a:hover {
  color: blue;
}
.main-menu div {
  padding: 12px 0px;
  margin-left: 15px;
  font-size: 13px;
}
.main-menu .about-us {
  margin-left: 110px;
  color: rgb(196, 198, 205);
}
.main-menu .icon {
  width: 380px;
  height: 38px;
  margin-left: 125px;
  padding: 10px;
  display: flex;
}
.main-menu img {
  width: 20px;
  height: 20px;
}
.main-menu .secureSpan {
  padding: 1px 0px;
  margin-left: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: rgb(196, 198, 205);
  border-right: 1px solid rgb(196, 198, 205);
  width: 360px;
}
.main-menu .needHelp {
  width: 200px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: rgb(196, 198, 205);
  padding: 10px 0px;
  border-right: 1px solid rgb(196, 198, 205);
}
.main-menu .needHelp a {
  color: rgb(111, 211, 251);
}
.main-menu .needHelp a:hover {
  text-decoration: underline;
}
.main-menu .dropdown {
  position: relative;
  display: inline-block;
}
.main-menu .dropdown:hover {
  color: blue;
}
.main-menu .dropdown-content {
  opacity: 0;
  visibility: visible;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -30px;
  top: 40px;
  transition: all 0.5s;
}
.main-menu .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
}
.main-menu .dropdown-content a {
  color: black;
  padding: 3px 16px;
  text-decoration: none;
  display: block;
}
.main-menu .dropdown-content a:hover {
  color: blue;
}

@media (max-width: 1300px) {
  #headertop {
    display: none;
  }
}
.navbar {
  padding: 27px 0px;
}

.navbar-brand {
  position: relative;
}
.navbar-brand img {
  width: 164px;
}
.navbar-brand span {
  position: absolute;
  color: #cecfd5;
  display: block;
  font-size: 0.6875rem;
  margin-top: 2px;
}

.selectLocation {
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  position: relative;
  margin-left: 35px;
  margin-top: 5px;
  padding: 2px 32px;
  width: 175px;
  position: relative;
  border-color: #dbdce0;
  box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.75);
}
.selectLocation a {
  text-decoration: none;
  padding: 2px;
}
.selectLocation a .yourL {
  font-size: 10px;
  margin-top: -20px;
  margin-left: -10px;
  color: #dbdce0;
}
.selectLocation a .selectL {
  font-size: 13px;
  margin-left: -11px;
  margin-top: -15px;
  color: #293f97;
}
.selectLocation a i {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 12px;
  color: #293f97;
}

#form {
  margin-left: 30px;
  margin-top: 7px;
}
#form input {
  width: 530px;
  height: 50px;
  background-color: #f3f4f7;
  border: 0px solid #f3f4f7;
  border-radius: 5px;
  padding: 25px 35px;
  position: relative;
}
#form .fa-magnifying-glass {
  position: absolute;
  right: 185px;
  top: 50px;
  font-size: 20px;
  cursor: pointer;
}

.user {
  margin-top: 6px;
  margin-left: 15px;
  padding: 7px 12px;
  border: 1px solid #dbdce0;
  border-radius: 50px;
}
.user i {
  color: black;
}

.price {
  margin-left: 20px;
}
.price a {
  text-decoration: none;
  color: black;
}

.basket {
  margin-left: 20px;
  padding: 7px 12px;
  border-radius: 50px;
  background-color: #fff1ee;
  position: relative;
}
.basket a {
  text-decoration: none;
}
.basket a i {
  color: #ea2b0f;
}
.basket a .circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ea2b0f;
  top: 0px;
  left: 29px;
  border-radius: 50px;
  font-size: 10px;
  text-align: center;
  color: white;
}

.home {
  margin-left: 160px;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
}
.home i {
  margin-left: 10px;
  font-size: 13px;
}

.shop {
  margin-left: 20px;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
}
.shop i {
  margin-left: 10px;
  font-size: 13px;
}

.meat {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-top: -4px;
}
.meat img {
  margin-bottom: 2px;
}

.bakery {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-top: -23px;
  margin-left: -19px;
}
.bakery img {
  width: 70px;
  margin-bottom: 4px;
  max-width: 100%;
}
.bakery span {
  margin-left: -18px;
}

.beverages {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-top: -6px;
}
.beverages img {
  margin-bottom: 7px;
}
.beverages span {
  margin-left: 5px;
}

.blog {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-left: 16px;
}

.contact {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-left: 16px;
}

.allCategories {
  width: 200px;
  height: 50px;
  background-color: #2bbef9;
  display: flex;
  position: relative;
  border-radius: 25px;
}
.allCategories .fa-bars {
  margin: 18px 15px;
  color: white;
  font-size: 15px;
}
.allCategories span {
  margin: 14px 43px;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color: white;
}
.allCategories .fa-chevron-down {
  position: absolute;
  left: 167px;
  top: 17px;
  color: white;
  font-size: 13px;
}
.allCategories .products63 {
  font-size: 10px;
  width: 110px;
  height: 20px;
  background-color: whitesmoke;
  margin-top: 39px;
  border-radius: 50px;
  justify-content: center;
  text-align: center;
  color: #858997;
}

.footer-container {
  margin-top: 250px;
}

.footer-first {
  width: 100%;
  height: 400px;
  border: 1px solid white;
  background-color: #233a95;
  position: relative;
}

.footer-first .footer-first-cont {
  position: absolute;
  top: 100px;
  left: 100px;
  color: white;
  font-size: larger;
}

.footer-first .footer-first-cont p {
  color: #9b9bb4;
  font-size: smaller;
  margin-top: 15px;
  margin-bottom: 35px;
}

.footer-first .footer-first-cont .input-box {
  width: 450px;
  height: 60px;
  border: 1px solid white;
  background-color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.footer-first .footer-first-cont .input-box input {
  border: none;
  margin-right: 97px;
  font-size: 16px;
  color: #e4e5ee;
}

.footer-first .footer-first-cont .input-box i {
  color: #c2c2d3;
  margin-left: 10px;
}

.footer-first .footer-first-cont .input-box button {
  background-color: #233a95;
  color: white;
  padding: 10px;
  border-radius: 3px;
  font-size: 13px;
  border: none;
  height: 54px;
  width: 94px;
  font-family: "Inter", sans-serif;
}

.footer-first .footer-first-img img {
  position: absolute;
  top: 122px;
  right: 120px;
}

.footer-second {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  padding: 77px 155px;
  margin-top: -32px;
}

.footer-second .elm {
  border-right: 2px solid gray;
  height: 30px;
  padding-right: 35px;
}

.hr {
  display: flex;
  justify-content: center;
  margin-top: -26px;
  height: 110px;
  background-color: #f7f8fd;
}
.hr hr {
  width: 1125px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 24px 130px;
  height: 460px;
}
.footer-box .fruits-type-foot span {
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color: #202435;
}
.footer-box .fruits-type-foot a {
  text-decoration: none;
  color: #71778E;
}
.footer-box .fruits-type-foot ul {
  margin-top: 15px;
}
.footer-box .fruits-type-foot li {
  font-size: 13px;
  font-family: "Inter" sans-serif;
  list-style-type: none;
  margin-left: -32px;
  margin-top: 10px;
}
.footer-box .breakfast-type-foot span {
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color: #202435;
}
.footer-box .breakfast-type-foot a {
  text-decoration: none;
  color: #71778E;
}
.footer-box .breakfast-type-foot ul {
  margin-top: 15px;
}
.footer-box .breakfast-type-foot li {
  font-size: 13px;
  font-family: "Inter" sans-serif;
  list-style-type: none;
  margin-left: -32px;
  margin-top: 10px;
}
.footer-box .meat-type-foot span {
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color: #202435;
}
.footer-box .meat-type-foot a {
  text-decoration: none;
  color: #71778E;
}
.footer-box .meat-type-foot ul {
  margin-top: 15px;
}
.footer-box .meat-type-foot li {
  font-size: 13px;
  font-family: "Inter" sans-serif;
  list-style-type: none;
  margin-left: -32px;
  margin-top: 10px;
}
.footer-box .beverages-type-foot span {
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color: #202435;
}
.footer-box .beverages-type-foot a {
  text-decoration: none;
  color: #71778E;
}
.footer-box .beverages-type-foot ul {
  margin-top: 15px;
}
.footer-box .beverages-type-foot li {
  font-size: 13px;
  font-family: "Inter" sans-serif;
  list-style-type: none;
  margin-left: -32px;
  margin-top: 10px;
}
.footer-box .bakery-type-foot span {
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color: #202435;
}
.footer-box .bakery-type-foot a {
  text-decoration: none;
  color: #71778E;
}
.footer-box .bakery-type-foot ul {
  margin-top: 15px;
}
.footer-box .bakery-type-foot li {
  font-size: 13px;
  font-family: "Inter" sans-serif;
  list-style-type: none;
  margin-left: -32px;
  margin-top: 10px;
}

.footer-forth {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.footer-cont-right {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #f7f8fd;
}

.homeUl {
  margin-top: 10px;
  background-color: #f7f8fd;
}
.homeUl ul {
  margin-left: 111px;
  list-style-type: none;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
}
.homeUl ul #myAcc {
  list-style-type: "> ";
  margin-left: 15px;
  font-size: 12px;
  color: #9B9BB4;
  font-family: "Dosis", sans-serif;
}
.homeUl ul #home:hover {
  text-decoration: underline;
}

.detail {
  background-color: #f7f8fd;
}
.detail .row {
  border: 1px solid white;
  background-color: white;
  padding: 25px;
  margin-top: 21px;
  border-radius: 4px;
}
.detail .row .headProduct h1 {
  font-size: 25px;
  font-family: "Inter", sans-serif;
}
.detail .row .headProduct span {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  border-right: 1px solid gray;
  padding: 0px 15px;
  color: gray;
}
.detail .row .headProduct i {
  color: gold;
  font-size: 10px;
}
.detail .mainProduct .box {
  height: 500px;
  background-color: white;
  position: relative;
}
.detail .mainProduct .box .mainImg img {
  width: 429px;
}
.detail .mainProduct .box .prPercent {
  position: absolute;
  width: 40px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
  text-align: center;
}
.detail .mainProduct .box .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.detail .mainProduct .box .recommended {
  position: absolute;
  top: 45px;
  left: 5px;
  background-color: #71778e;
  width: 90px;
  height: 20px;
  border-radius: 4px;
  text-align: center;
}
.detail .mainProduct .box .recommended p {
  margin-top: 2px;
  font-size: 10px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.detail .mainProduct .box .miniImg {
  display: flex;
  justify-content: center;
}
.detail .mainProduct .box .miniImg .firstImg {
  height: 62px;
  background-color: white;
  width: 67px;
  margin-left: 13px;
  margin-top: 40px;
  text-align: center;
  border: 1px solid #202435;
  border-radius: 3px;
}
.detail .mainProduct .box .miniImg .firstImg img {
  width: 60px;
}
.detail .mainProduct .col-4 .box .about {
  border-bottom: 0.5px solid #71778e;
  padding: 14px 18px;
}
.detail .mainProduct .col-4 .box .about #oldPrice {
  font-size: 20px;
  font-family: "Dosis", sans-serif;
}
.detail .mainProduct .col-4 .box .about #newPrice {
  font-size: 25px;
  font-family: "Dosis", sans-serif;
  margin-left: 10px;
}
.detail .mainProduct .col-4 .box .about .outofstock {
  color: #d51243;
  padding: 6px;
}
.detail .mainProduct .col-4 .box .about .outofstock span {
  border: 1px solid black;
  font-size: 12px;
  font-family: "Dosis", sans-serif;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #ffeef2;
  border: none;
}
.detail .mainProduct .col-4 .box .about .vivamus {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  color: #3e445a;
  line-height: 24px;
}
.detail .mainProduct .col-4 .box .about .wishlist {
  padding: 6px;
  position: relative;
}
.detail .mainProduct .col-4 .box .about .wishlist .main {
  padding: 5px 10px;
  color: #71778e;
  border: 1px solid #71778e;
  font-size: 12px;
  font-family: "Dosis", sans-serif;
  border-radius: 20px;
}
.detail .mainProduct .col-4 .box .about .wishlist .main .add {
  margin-left: 10px;
}
.detail .mainProduct .col-4 .box .about .wishlist .main i {
  font-size: 15px;
  margin-left: 5px;
  color: #71778e;
}
.detail .mainProduct .col-4 .box .about .compare {
  text-decoration: none;
  font-size: 13px;
  font-family: "Dosis", sans-serif;
  color: #71778e;
  position: absolute;
  right: 88px;
  top: 204px;
}
.detail .mainProduct .col-4 .box .about .compare i {
  font-size: 13px;
  color: #71778e;
}
.detail .mainProduct .col-4 .box .about ul {
  list-style-type: none;
  padding: 5px 2px;
}
.detail .mainProduct .col-4 .box .about ul li {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  margin-left: 5px;
  color: #3e445a;
}
.detail .mainProduct .col-4 .box .about ul li i {
  color: green;
  margin-right: 5px;
}
.detail .mainProduct .col-4 .box .category p {
  font-size: 13px;
  color: #9b9bb4;
  margin-top: 26px;
  margin-left: 23px;
}
.detail .mainProduct .col-4 .box .category p span {
  font-size: 13px;
  color: #71778e;
}
.detail .mainProduct .col-4 .box .socialMedias {
  display: flex;
  padding: 5px 36px;
}
.detail .mainProduct .col-4 .box .socialMedias .col .box {
  height: 40px;
  width: 40px;
  background-color: green;
  margin-left: 2px;
  border-radius: 50px;
  text-align: center;
}
.detail .mainProduct .col-4 .box .socialMedias .col .box i {
  margin-top: 11px;
  color: white;
}
.detail .mainProduct .col-3 .box .covid {
  background-color: #ffeef2;
  height: 40px;
  border-radius: 3px;
  color: #be143c;
  text-align: center;
  font-size: 13px;
  padding: 9px;
  font-family: "Inter", sans-serif;
}
.detail .mainProduct .col-3 .box .orders {
  background-color: #f7f8fd;
  border-radius: 3px;
  height: 247px;
}
.detail .mainProduct .col-3 .box .orders .first {
  display: flex;
  padding: 17px 19px;
}
.detail .mainProduct .col-3 .box .orders .first i {
  margin-top: 17px;
}
.detail .mainProduct .col-3 .box .orders .first span {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  margin-top: 9px;
  margin-left: 10px;
}

.description .row {
  margin-top: 70px;
  border-radius: 4px;
  border: 1px solid #f7f8fd;
}
.description .row .desc {
  background-color: white;
  height: 360px;
}
.description .row .desc .categ {
  border-bottom: 2px solid #f7f8fd;
  padding: 17px;
}
.description .row .desc .categ a {
  text-decoration: none;
}
.description .row .desc .categ a span {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  margin-left: 20px;
}
.description .row .desc p {
  padding: 7px 36px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.relatedProducts {
  position: relative;
}
.relatedProducts h4 {
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  color: #202435;
  position: absolute;
  bottom: 12px;
  left: 110px;
}

.container .related {
  background-color: white;
  margin-top: 90px;
  border: 1px solid #f7f8fd;
  border-radius: 7px;
  height: 425px;
}
.container .related .col {
  width: 280px;
}
.container .related .col .box {
  height: 425px;
  padding: 13px 12px;
  width: 284px;
  border-right: 1px solid #f7f8fd;
}
.container .related .col .box .addBtn {
  text-align: center;
  margin-top: 30px;
}
.container .related .col .box .addBtn button {
  padding: 5px 78px;
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: rgb(2, 3, 129);
  border: none;
  opacity: 0;
}
.container .related .col .box .img {
  position: relative;
}
.container .related .col .box .img .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
  text-align: center;
}
.container .related .col .box .img .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.container .related .col .box .img img {
  width: 261px;
}
.container .related .col .box .content {
  padding: 1px 8px;
}
.container .related .col .box .content a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #202435;
  font-weight: 500;
  line-height: 1.4;
}
.container .related .col .box .content .instock {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 4px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  margin-top: 10px;
}
.container .related .col .box .content .rate {
  margin-left: 0px;
  margin-top: -10px;
}
.container .related .col .box .content .rate i {
  color: gold;
  font-size: 10px;
}
.container .related .col .box .content .rate .unrateable {
  color: #bbc0c8;
}
.container .related .col .box .content .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.container .related .col .box .content .priceItalian {
  margin-top: 11px;
}
.container .related .col .box .content .priceItalian span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 0px;
}
.container .related .col .box .content .priceItalian #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}
.container .related .col .box:hover {
  height: 500px;
  background-color: white;
  border: 1px solid #bbc0c8;
}
.container .related .col .box:hover button {
  transition: all 0.5s;
  opacity: 1;
}/*# sourceMappingURL=detail.css.map */