@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-menu {
  background-color: white;
  border: none;
  border-bottom: 1px solid rgb(196, 198, 205);
  display: flex;
}
.main-menu a {
  text-decoration: none;
  color: rgb(145, 148, 161);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.main-menu a:hover {
  color: blue;
}
.main-menu div {
  padding: 12px 0px;
  margin-left: 15px;
  font-size: 13px;
}
.main-menu .about-us {
  margin-left: 110px;
  color: rgb(196, 198, 205);
}
.main-menu .icon {
  width: 380px;
  height: 38px;
  margin-left: 125px;
  padding: 10px;
  display: flex;
}
.main-menu img {
  width: 20px;
  height: 20px;
}
.main-menu .secureSpan {
  padding: 1px 0px;
  margin-left: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: rgb(196, 198, 205);
  border-right: 1px solid rgb(196, 198, 205);
  width: 360px;
}
.main-menu .needHelp {
  width: 200px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: rgb(196, 198, 205);
  padding: 10px 0px;
  border-right: 1px solid rgb(196, 198, 205);
}
.main-menu .needHelp a {
  color: rgb(111, 211, 251);
}
.main-menu .needHelp a:hover {
  text-decoration: underline;
}
.main-menu .dropdown {
  position: relative;
  display: inline-block;
}
.main-menu .dropdown:hover {
  color: blue;
}
.main-menu .dropdown-content {
  opacity: 0;
  visibility: visible;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -30px;
  top: 40px;
  transition: all 0.5s;
}
.main-menu .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
}
.main-menu .dropdown-content a {
  color: black;
  padding: 3px 16px;
  text-decoration: none;
  display: block;
}
.main-menu .dropdown-content a:hover {
  color: blue;
}

@media (max-width: 1300px) {
  #headertop {
    display: none;
  }
}
.navbar {
  padding: 27px 0px;
}

.navbar-brand {
  position: relative;
}
.navbar-brand img {
  width: 164px;
}
.navbar-brand span {
  position: absolute;
  color: #cecfd5;
  display: block;
  font-size: 0.6875rem;
  margin-top: 2px;
}

.selectLocation {
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  position: relative;
  margin-left: 35px;
  margin-top: 5px;
  padding: 2px 32px;
  width: 175px;
  position: relative;
  border-color: #dbdce0;
  box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.75);
}
.selectLocation a {
  text-decoration: none;
  padding: 2px;
}
.selectLocation a .yourL {
  font-size: 10px;
  margin-top: -20px;
  margin-left: -10px;
  color: #dbdce0;
}
.selectLocation a .selectL {
  font-size: 13px;
  margin-left: -11px;
  margin-top: -15px;
  color: #293f97;
}
.selectLocation a i {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 12px;
  color: #293f97;
}

#form {
  margin-left: 30px;
  margin-top: 7px;
}
#form input {
  width: 530px;
  height: 50px;
  background-color: #f3f4f7;
  border: 0px solid #f3f4f7;
  border-radius: 5px;
  padding: 25px 35px;
  position: relative;
}
#form .fa-magnifying-glass {
  position: absolute;
  right: 185px;
  top: 50px;
  font-size: 20px;
  cursor: pointer;
}

.user {
  margin-top: 6px;
  margin-left: 15px;
  padding: 7px 12px;
  border: 1px solid #dbdce0;
  border-radius: 50px;
}
.user i {
  color: black;
}

.price {
  margin-left: 20px;
}
.price a {
  text-decoration: none;
  color: black;
}

.basket {
  margin-left: 20px;
  padding: 7px 12px;
  border-radius: 50px;
  background-color: #fff1ee;
  position: relative;
}
.basket a {
  text-decoration: none;
}
.basket a i {
  color: #ea2b0f;
}
.basket a .circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ea2b0f;
  top: 0px;
  left: 29px;
  border-radius: 50px;
  font-size: 10px;
  text-align: center;
  color: white;
}

.home {
  margin-left: 160px;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
}
.home i {
  margin-left: 10px;
  font-size: 13px;
}

.shop {
  margin-left: 20px;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
}
.shop i {
  margin-left: 10px;
  font-size: 13px;
}

.meat {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-top: -4px;
}
.meat img {
  margin-bottom: 2px;
}

.bakery {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-top: -23px;
  margin-left: -19px;
}
.bakery img {
  width: 70px;
  margin-bottom: 4px;
  max-width: 100%;
}
.bakery span {
  margin-left: -18px;
}

.beverages {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-top: -6px;
}
.beverages img {
  margin-bottom: 7px;
}
.beverages span {
  margin-left: 5px;
}

.blog {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-left: 16px;
}

.contact {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-left: 16px;
}

.allCategories {
  width: 200px;
  height: 50px;
  background-color: #2bbef9;
  display: flex;
  position: relative;
  border-radius: 25px;
}
.allCategories .fa-bars {
  margin: 18px 15px;
  color: white;
  font-size: 15px;
}
.allCategories span {
  margin: 14px 43px;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color: white;
}
.allCategories .fa-chevron-down {
  position: absolute;
  left: 167px;
  top: 17px;
  color: white;
  font-size: 13px;
}
.allCategories .products63 {
  font-size: 10px;
  width: 110px;
  height: 20px;
  background-color: whitesmoke;
  margin-top: 39px;
  border-radius: 50px;
  justify-content: center;
  text-align: center;
  color: #858997;
}

.sliderContent {
  position: absolute;
  top: 45px;
  left: 124px;
}
.sliderContent h1 {
  font-weight: 700;
  width: 450px;
  margin-top: 20px;
  font-size: 50px;
}
.sliderContent span {
  font-size: 14px;
}
.sliderContent span .off {
  color: green;
  font-weight: 500;
  border-radius: 20px;
  padding: 5px;
  background: linear-gradient(90deg, #88cebf 0%, transparent 100%);
}
.sliderContent p {
  margin-top: 20px;
  font-size: 17px;
}
.sliderContent .from {
  color: red;
  font-size: 38px;
  font-family: "Dosis", sans-serif;
}
.sliderContent .thisWeek {
  font-size: 17px;
  font-family: "Dosis", sans-serif;
}
.sliderContent button {
  padding: 5px 20px;
}
.sliderContent button i {
  margin-left: 10px;
}

.prevLeft {
  margin-right: 25px;
  padding: 17px 17px;
  background-color: gray;
  border-radius: 50px;
}

.classifications {
  margin-top: 40px;
  border: 1px solid #dbdce0;
  border-radius: 10px;
}
.classifications .bev {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #dbdce0;
  text-align: center;
}
.classifications .bev .boxBev img {
  width: 192px;
  height: 200px;
  margin-top: 11px;
}
.classifications .bev .contentBev {
  margin-top: 10px;
}
.classifications .bev .contentBev a {
  text-decoration: none;
}
.classifications .bev .contentBev a p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #212529;
}
.classifications .bev .contentBev a #beveragesItems {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: gray;
  margin-top: -12px;
}
.classifications .other {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 0px;
}
.classifications .bisSn {
  border-right: 1px solid #dbdce0;
  border-bottom: 1px solid #dbdce0;
  position: relative;
}
.classifications .bisSn .boxBis img {
  width: 70px;
  height: 70px;
  margin-top: 35px;
  margin-left: 20px;
}
.classifications .bisSn .contentBis {
  position: absolute;
  top: 45px;
  left: 102px;
}
.classifications .bisSn .contentBis a {
  text-decoration: none;
}
.classifications .bisSn .contentBis p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #212529;
}
.classifications .bisSn .contentBis #bisItem {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: gray;
  margin-top: -15px;
}
.classifications .frVe {
  border-right: 1px solid #dbdce0;
  position: relative;
}
.classifications .frVe .boxFrVe img {
  width: 70px;
  height: 70px;
  margin-top: 35px;
  margin-left: 20px;
}
.classifications .frVe .contentFrVe {
  position: absolute;
  top: 45px;
  left: 102px;
}
.classifications .frVe .contentFrVe a {
  text-decoration: none;
}
.classifications .frVe .contentFrVe a p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #212529;
}
.classifications .frVe .contentFrVe a #frItems {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: gray;
  margin-top: -12px;
}
.classifications .brBa {
  border-right: 1px solid #dbdce0;
  border-bottom: 1px solid #dbdce0;
  position: relative;
}
.classifications .brBa .boxBrBa a img {
  width: 70px;
  height: 70px;
  margin-top: 35px;
  margin-left: 20px;
}
.classifications .brBa .contentBrBa {
  position: absolute;
  top: 45px;
  left: 102px;
}
.classifications .brBa .contentBrBa a {
  text-decoration: none;
}
.classifications .brBa .contentBrBa a p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #212529;
}
.classifications .brBa .contentBrBa a #breadItems {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: gray;
  margin-top: -12px;
}
.classifications .grSt {
  border-right: 1px solid #dbdce0;
  position: relative;
}
.classifications .grSt .boxGrSt a img {
  width: 70px;
  height: 70px;
  margin-top: 35px;
  margin-left: 20px;
}
.classifications .grSt .contentGrSt {
  position: absolute;
  top: 45px;
  left: 102px;
}
.classifications .grSt .contentGrSt a {
  text-decoration: none;
}
.classifications .grSt .contentGrSt a p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #212529;
}
.classifications .grSt .contentGrSt a #groceryItems {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: gray;
  margin-top: -12px;
}
.classifications .brDa {
  border-right: 1px solid #dbdce0;
  border-bottom: 1px solid #dbdce0;
  position: relative;
}
.classifications .brDa .boxBrDa a img {
  width: 70px;
  height: 70px;
  margin-top: 35px;
  margin-left: 20px;
}
.classifications .brDa .contentBrDa {
  position: absolute;
  top: 45px;
  left: 102px;
}
.classifications .brDa .contentBrDa a {
  text-decoration: none;
}
.classifications .brDa .contentBrDa a p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #212529;
}
.classifications .brDa .contentBrDa a #breakItems {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: gray;
  margin-top: -12px;
}
.classifications .hoNe {
  border-right: 1px solid #dbdce0;
  position: relative;
}
.classifications .hoNe .boxHoNe a img {
  width: 70px;
  height: 70px;
  margin-top: 35px;
  margin-left: 20px;
}
.classifications .hoNe .contentHoNe {
  position: absolute;
  top: 45px;
  left: 102px;
}
.classifications .hoNe .contentHoNe a {
  text-decoration: none;
}
.classifications .hoNe .contentHoNe a p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #212529;
}
.classifications .hoNe .contentHoNe a #houseItems {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: gray;
  margin-top: -12px;
}
.classifications .frFo {
  border-bottom: 1px solid #dbdce0;
  border-top-right-radius: 10px;
  position: relative;
}
.classifications .frFo .boxFrFo a img {
  width: 70px;
  height: 70px;
  margin-top: 35px;
  margin-left: 20px;
}
.classifications .frFo .contentFrFo {
  position: absolute;
  top: 45px;
  left: 102px;
}
.classifications .frFo .contentFrFo a {
  text-decoration: none;
}
.classifications .frFo .contentFrFo a p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #212529;
}
.classifications .frFo .contentFrFo a #frozenItems {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: gray;
  margin-top: -12px;
}
.classifications .meSe {
  border-bottom-right-radius: 10px;
  position: relative;
}
.classifications .meSe .boxMeSe a img {
  width: 70px;
  height: 70px;
  margin-top: 35px;
  margin-left: 20px;
}
.classifications .meSe .contentMeSe {
  position: absolute;
  top: 45px;
  left: 102px;
}
.classifications .meSe .contentMeSe a {
  text-decoration: none;
}
.classifications .meSe .contentMeSe a p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #212529;
}
.classifications .meSe .contentMeSe a #meatItems {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: gray;
  margin-top: -12px;
}

.deals {
  margin-top: 40px;
}
.deals .mainDeal {
  border: 2px solid #ed174a;
  border-radius: 8px;
}
.deals .mainDeal .titleDeals {
  margin-top: 30px;
  margin-left: 15px;
}
.deals .mainDeal .titleDeals p {
  margin-left: 7px;
  color: #233a95;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.deals .mainDeal .titleDeals #remains {
  margin-top: 13px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: gray;
}
.deals .mainDeal .titleDeals .redboxes {
  display: flex;
  margin-top: -7px;
}
.deals .mainDeal .titleDeals .redboxes .box {
  width: 50px;
  height: 50px;
  background-color: #ed174a;
  margin-left: 7px;
  border-radius: 8px;
}
.deals .mainDeal .titleDeals .redboxes p {
  margin-top: 10px;
  margin-left: 5px;
}
.deals .mainDeal .dealImg {
  position: relative;
}
.deals .mainDeal .dealImg .percent {
  background-color: #ed174a;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  position: absolute;
  left: 15px;
  top: 6px;
  text-align: center;
}
.deals .mainDeal .dealImg .percent p {
  font-family: "Dosis", sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 17px;
}
.deals .mainDeal .dealImg img {
  width: 350px;
}
.deals .mainDeal .contentDeal span {
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  margin-left: 25px;
}
.deals .mainDeal .contentDeal #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  color: #ed174a;
  margin-left: 5px;
}
.deals .mainDeal .contentDeal a {
  text-decoration: none;
}
.deals .mainDeal .contentDeal a p {
  margin-left: 25px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #202435;
  font-weight: 500;
  margin-top: 15px;
}
.deals .mainDeal .contentDeal .kg {
  font-size: 0.6875rem;
  font-family: Arial, Helvetica, sans-serif;
}
.deals .mainDeal .contentDeal .instock {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 4px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.deals .mainDeal .contentDeal .rate {
  margin-left: 24px;
  margin-top: 10px;
}
.deals .mainDeal .contentDeal .rate i {
  color: gold;
  font-size: 10px;
}
.deals .mainDeal .contentDeal .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.deals .mainDeal .contentDeal .available {
  text-align: end;
  margin-right: 15px;
}
.deals .mainDeal .contentDeal .available p {
  font-size: 11px;
  font-family: "Dosis", sans-serif;
  color: #bbc0c8;
}
.deals .mainDeal .contentDeal .available p span {
  color: #212529;
  margin-left: 4px;
  font-size: 1rem;
}
.deals .mainDeal .contentDeal .available .gradientDiv {
  width: 313px;
  height: 10px;
  display: flex;
}
.deals .mainDeal .contentDeal .available .gradientDiv .col-11 {
  border-radius: 10px;
  height: 10px;
  background: linear-gradient(109.7deg, rgb(202, 50, 50) 5.7%, rgb(252, 195, 12) 92.4%);
}
.deals .mainDeal .contentDeal .available .gradientDiv .col-12 {
  height: 10px;
  background-color: #dbdce0;
  border-radius: 10px;
  margin-left: 24px;
  margin-right: 10px;
}
.deals .col-8 {
  width: 730px;
  margin-left: 28px;
  padding: 0px 0px;
}
.deals .col-8 .col-12 {
  padding: 0px 11px;
  margin-left: 0px;
}
.deals .col-8 .col-12 .col-4 .italian {
  border: 1px solid #dbdce0;
  border-top-left-radius: 7px;
}
.deals .col-8 .col-12 .col-4 .italian .prImg {
  position: relative;
  text-align: center;
}
.deals .col-8 .col-12 .col-4 .italian .prImg .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
}
.deals .col-8 .col-12 .col-4 .italian .prImg .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.deals .col-8 .col-12 .col-4 .italian .prImg .recommended {
  position: absolute;
  top: 45px;
  left: 5px;
  background-color: #71778e;
  width: 90px;
  height: 20px;
  border-radius: 4px;
}
.deals .col-8 .col-12 .col-4 .italian .prImg .recommended p {
  margin-top: 2px;
  font-size: 10px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.deals .col-8 .col-12 .col-4 .italian .prImg img {
  width: 200px;
  margin-top: 15px;
}
.deals .col-8 .col-12 .col-4 .italian .contentItalian a {
  text-decoration: none;
}
.deals .col-8 .col-12 .col-4 .italian .contentItalian a p {
  width: 200px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .italian .contentItalian #stock {
  color: #ed174a;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.deals .col-8 .col-12 .col-4 .italian .contentItalian .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .italian .contentItalian .rate i {
  color: gold;
  font-size: 10px;
}
.deals .col-8 .col-12 .col-4 .italian .contentItalian .rate .unrateable {
  color: #bbc0c8;
}
.deals .col-8 .col-12 .col-4 .italian .contentItalian .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.deals .col-8 .col-12 .col-4 .italian .contentItalian .priceItalian {
  margin-top: 11px;
}
.deals .col-8 .col-12 .col-4 .italian .contentItalian .priceItalian span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 7px;
}
.deals .col-8 .col-12 .col-4 .italian .contentItalian .priceItalian #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}
.deals .col-8 .col-12 .col-4 .crispy {
  border-left: 1px solid #dbdce0;
  border-bottom: 1px solid #dbdce0;
  border-right: 1px solid #dbdce0;
  border-bottom-left-radius: 7px;
}
.deals .col-8 .col-12 .col-4 .crispy .prImg img {
  width: 200px;
  margin-top: 15px;
}
.deals .col-8 .col-12 .col-4 .crispy .contentCrispy a {
  text-decoration: none;
}
.deals .col-8 .col-12 .col-4 .crispy .contentCrispy a p {
  width: 200px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .crispy .contentCrispy #stock {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.deals .col-8 .col-12 .col-4 .crispy .contentCrispy .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .crispy .contentCrispy .rate i {
  color: gold;
  font-size: 10px;
}
.deals .col-8 .col-12 .col-4 .crispy .contentCrispy .rate .unrateable {
  color: #bbc0c8;
}
.deals .col-8 .col-12 .col-4 .crispy .contentCrispy .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.deals .col-8 .col-12 .col-4 .crispy .contentCrispy .priceItalian {
  margin-top: 11px;
}
.deals .col-8 .col-12 .col-4 .crispy .contentCrispy .priceItalian #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}
.deals .col-8 .col-12 .col-4 .crispy .contentCrispy .priceItalian #newPrice span {
  font-family: "Dosis", sans-serif;
  color: #212529;
}
.deals .col-8 .col-12 .col-4 .boom {
  border-top: 1px solid #dbdce0;
  border-right: 1px solid #dbdce0;
  border-bottom: 1px solid #dbdce0;
}
.deals .col-8 .col-12 .col-4 .boom .prImg {
  position: relative;
  text-align: center;
}
.deals .col-8 .col-12 .col-4 .boom .prImg .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
}
.deals .col-8 .col-12 .col-4 .boom .prImg .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.deals .col-8 .col-12 .col-4 .boom .prImg img {
  width: 200px;
  margin-top: 15px;
}
.deals .col-8 .col-12 .col-4 .boom .contentBoom a {
  text-decoration: none;
}
.deals .col-8 .col-12 .col-4 .boom .contentBoom a p {
  width: 205px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .boom .contentBoom #stock {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.deals .col-8 .col-12 .col-4 .boom .contentBoom .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .boom .contentBoom .rate i {
  color: gold;
  font-size: 10px;
}
.deals .col-8 .col-12 .col-4 .boom .contentBoom .rate .unrateable {
  color: #bbc0c8;
}
.deals .col-8 .col-12 .col-4 .boom .contentBoom .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.deals .col-8 .col-12 .col-4 .boom .contentBoom .priceItalian {
  margin-top: 11px;
}
.deals .col-8 .col-12 .col-4 .boom .contentBoom .priceItalian span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 7px;
}
.deals .col-8 .col-12 .col-4 .boom .contentBoom .priceItalian #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}
.deals .col-8 .col-12 .col-4 .diamond {
  border-right: 1px solid #dbdce0;
  border-bottom: 1px solid #dbdce0;
}
.deals .col-8 .col-12 .col-4 .diamond .prImg {
  position: relative;
  text-align: center;
}
.deals .col-8 .col-12 .col-4 .diamond .prImg .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
}
.deals .col-8 .col-12 .col-4 .diamond .prImg .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.deals .col-8 .col-12 .col-4 .diamond .prImg .recommended {
  position: absolute;
  top: 45px;
  left: 5px;
  background-color: #e5f8ed;
  width: 70px;
  height: 22px;
  border-radius: 15px;
  text-align: center;
}
.deals .col-8 .col-12 .col-4 .diamond .prImg .recommended p {
  margin-top: 3px;
  font-size: 12px;
  color: #038e42;
  font-family: "Dosis", sans-serif;
}
.deals .col-8 .col-12 .col-4 .diamond .prImg img {
  width: 200px;
  margin-top: 15px;
}
.deals .col-8 .col-12 .col-4 .diamond .contentDiamond a {
  text-decoration: none;
}
.deals .col-8 .col-12 .col-4 .diamond .contentDiamond a p {
  width: 205px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .diamond .contentDiamond #stock {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.deals .col-8 .col-12 .col-4 .diamond .contentDiamond .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .diamond .contentDiamond .rate i {
  color: gold;
  font-size: 10px;
}
.deals .col-8 .col-12 .col-4 .diamond .contentDiamond .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.deals .col-8 .col-12 .col-4 .diamond .contentDiamond .priceItalian {
  margin-top: 11px;
}
.deals .col-8 .col-12 .col-4 .diamond .contentDiamond .priceItalian span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 7px;
}
.deals .col-8 .col-12 .col-4 .diamond .contentDiamond .priceItalian #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}
.deals .col-8 .col-12 .col-4 .chao {
  border-top: 1px solid #dbdce0;
  border-right: 1px solid #dbdce0;
  border-bottom: 1px solid #dbdce0;
  border-top-right-radius: 7px;
}
.deals .col-8 .col-12 .col-4 .chao .prImg {
  position: relative;
  text-align: center;
}
.deals .col-8 .col-12 .col-4 .chao .prImg .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
}
.deals .col-8 .col-12 .col-4 .chao .prImg .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.deals .col-8 .col-12 .col-4 .chao .prImg .recommended {
  position: absolute;
  top: 45px;
  left: 5px;
  background-color: #e5f8ed;
  width: 70px;
  height: 22px;
  border-radius: 15px;
  text-align: center;
}
.deals .col-8 .col-12 .col-4 .chao .prImg .recommended p {
  margin-top: 3px;
  font-size: 12px;
  color: #038e42;
  font-family: "Dosis", sans-serif;
}
.deals .col-8 .col-12 .col-4 .chao .prImg img {
  width: 200px;
  margin-top: 15px;
}
.deals .col-8 .col-12 .col-4 .chao .contentchao a {
  text-decoration: none;
}
.deals .col-8 .col-12 .col-4 .chao .contentchao a p {
  width: 205px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .chao .contentchao #stock {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.deals .col-8 .col-12 .col-4 .chao .contentchao .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .chao .contentchao .rate i {
  color: gold;
  font-size: 10px;
}
.deals .col-8 .col-12 .col-4 .chao .contentchao .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.deals .col-8 .col-12 .col-4 .chao .contentchao .pricechao {
  margin-top: 11px;
}
.deals .col-8 .col-12 .col-4 .chao .contentchao .pricechao span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 7px;
}
.deals .col-8 .col-12 .col-4 .chao .contentchao .pricechao #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}
.deals .col-8 .col-12 .col-4 .blueberries {
  border-right: 1px solid #dbdce0;
  border-bottom: 1px solid #dbdce0;
  border-bottom-right-radius: 7px;
}
.deals .col-8 .col-12 .col-4 .blueberries .prImg {
  position: relative;
  text-align: center;
}
.deals .col-8 .col-12 .col-4 .blueberries .prImg .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
}
.deals .col-8 .col-12 .col-4 .blueberries .prImg .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.deals .col-8 .col-12 .col-4 .blueberries .prImg img {
  width: 200px;
  margin-top: 15px;
}
.deals .col-8 .col-12 .col-4 .blueberries .contentberries a {
  text-decoration: none;
}
.deals .col-8 .col-12 .col-4 .blueberries .contentberries a p {
  width: 205px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .blueberries .contentberries #stock {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.deals .col-8 .col-12 .col-4 .blueberries .contentberries .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.deals .col-8 .col-12 .col-4 .blueberries .contentberries .rate i {
  color: gold;
  font-size: 10px;
}
.deals .col-8 .col-12 .col-4 .blueberries .contentberries .rate .unrateable {
  color: #bbc0c8;
}
.deals .col-8 .col-12 .col-4 .blueberries .contentberries .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.deals .col-8 .col-12 .col-4 .blueberries .contentberries .pricechao {
  margin-top: 11px;
}
.deals .col-8 .col-12 .col-4 .blueberries .contentberries .pricechao span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 7px;
}
.deals .col-8 .col-12 .col-4 .blueberries .contentberries .pricechao #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}

.banner .col-6 {
  padding: 0px 0px;
}
.banner .col-6 img {
  width: 550px;
  border-radius: 8px;
  height: 250px;
}
.banner .col-6 .box1 {
  position: relative;
}
.banner .col-6 .box1 .contentBanner {
  position: absolute;
  top: 50px;
  left: 40px;
}
.banner .col-6 .box1 .contentBanner p {
  color: #FF6048;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
}
.banner .col-6 .box1 .contentBanner h3 {
  color: #3e445a;
  font-size: 22px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-top: -5px;
}
.banner .col-6 .box1 .contentBanner #discount {
  color: #3E445A;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}
.banner .col-6 .box1 .contentBanner button {
  border-radius: 50px;
  background-color: #233a95;
  width: 110px;
  height: 34px;
}
.banner .col-6 .box1 .contentBanner button p {
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 100;
  margin-bottom: 3px;
}
.banner .box2 {
  position: relative;
}
.banner .box2 .contentBanner {
  position: absolute;
  top: 50px;
  left: 40px;
}
.banner .box2 .contentBanner p {
  color: #FF6048;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
}
.banner .box2 .contentBanner h3 {
  color: #3e445a;
  font-size: 22px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-top: -5px;
}
.banner .box2 .contentBanner #discount {
  color: #3E445A;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}
.banner .box2 .contentBanner button {
  border-radius: 50px;
  background-color: #FF6048;
  width: 110px;
  height: 34px;
}
.banner .box2 .contentBanner button p {
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 100;
  margin-bottom: 3px;
}

.bestSellers {
  margin-top: 40px;
  margin-left: -8px;
  position: relative;
}
.bestSellers h4 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.bestSellers p {
  font-size: 13px;
  color: #71778e;
  font-family: "Inter", sans-serif;
}
.bestSellers .view {
  width: 126px;
  height: 35px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50px;
  text-align: center;
  padding: 3px;
  position: absolute;
  right: -7px;
  bottom: -9px;
}
.bestSellers .view a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
}
.bestSellers .view a i {
  margin-left: 5px;
}

#slider {
  margin-top: 100px;
}

.splide__slide {
  height: 440px;
}

.splide__list .boom {
  border-right: 1px solid #dbdce0;
}
.splide__list .boom .prImg {
  position: relative;
  text-align: center;
}
.splide__list .boom .prImg .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
}
.splide__list .boom .prImg .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.splide__list .boom .prImg img {
  width: 200px;
  margin-top: 15px;
}
.splide__list .boom .contentBoom a {
  text-decoration: none;
}
.splide__list .boom .contentBoom a p {
  width: 205px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.splide__list .boom .contentBoom #stock {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.splide__list .boom .contentBoom .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.splide__list .boom .contentBoom .rate i {
  color: gold;
  font-size: 10px;
}
.splide__list .boom .contentBoom .rate .unrateable {
  color: #bbc0c8;
}
.splide__list .boom .contentBoom .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.splide__list .boom .contentBoom .priceItalian {
  margin-top: 11px;
}
.splide__list .boom .contentBoom .priceItalian span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 7px;
}
.splide__list .boom .contentBoom .priceItalian #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}
.splide__list .italian {
  border-right: 1px solid #dbdce0;
}
.splide__list .italian .prImg {
  position: relative;
  text-align: center;
}
.splide__list .italian .prImg .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
}
.splide__list .italian .prImg .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.splide__list .italian .prImg .recommended {
  position: absolute;
  top: 45px;
  left: 5px;
  background-color: #71778e;
  width: 90px;
  height: 20px;
  border-radius: 4px;
}
.splide__list .italian .prImg .recommended p {
  margin-top: 2px;
  font-size: 10px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.splide__list .italian .prImg img {
  width: 200px;
  margin-top: 15px;
}
.splide__list .italian .contentItalian a {
  text-decoration: none;
}
.splide__list .italian .contentItalian a p {
  width: 200px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.splide__list .italian .contentItalian #stock {
  color: #ed174a;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.splide__list .italian .contentItalian #stockin {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.splide__list .italian .contentItalian .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.splide__list .italian .contentItalian .rate i {
  color: gold;
  font-size: 10px;
}
.splide__list .italian .contentItalian .rate .unrateable {
  color: #bbc0c8;
}
.splide__list .italian .contentItalian .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.splide__list .italian .contentItalian .priceItalian {
  margin-top: 11px;
}
.splide__list .italian .contentItalian .priceItalian span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 7px;
}
.splide__list .italian .contentItalian .priceItalian #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}
.splide__list .chao {
  border-right: 1px solid #dbdce0;
}
.splide__list .chao .prImg {
  position: relative;
  text-align: center;
}
.splide__list .chao .prImg .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
}
.splide__list .chao .prImg .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.splide__list .chao .prImg .recommended {
  position: absolute;
  top: 45px;
  left: 5px;
  background-color: #e5f8ed;
  width: 70px;
  height: 22px;
  border-radius: 15px;
  text-align: center;
}
.splide__list .chao .prImg .recommended p {
  margin-top: 3px;
  font-size: 12px;
  color: #038e42;
  font-family: "Dosis", sans-serif;
}
.splide__list .chao .prImg img {
  width: 200px;
  margin-top: 15px;
}
.splide__list .chao .contentchao a {
  text-decoration: none;
}
.splide__list .chao .contentchao a p {
  width: 205px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.splide__list .chao .contentchao #stock {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.splide__list .chao .contentchao .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.splide__list .chao .contentchao .rate i {
  color: gold;
  font-size: 10px;
}
.splide__list .chao .contentchao .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.splide__list .chao .contentchao .pricechao {
  margin-top: 11px;
}
.splide__list .chao .contentchao .pricechao span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 7px;
}
.splide__list .chao .contentchao .pricechao #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}
.splide__list .diamond {
  border-right: 1px solid #dbdce0;
}
.splide__list .diamond .prImg {
  position: relative;
  text-align: center;
}
.splide__list .diamond .prImg .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
}
.splide__list .diamond .prImg .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.splide__list .diamond .prImg .recommended {
  position: absolute;
  top: 45px;
  left: 5px;
  background-color: #e5f8ed;
  width: 70px;
  height: 22px;
  border-radius: 15px;
  text-align: center;
}
.splide__list .diamond .prImg .recommended p {
  margin-top: 3px;
  font-size: 12px;
  color: #038e42;
  font-family: "Dosis", sans-serif;
}
.splide__list .diamond .prImg img {
  width: 200px;
  margin-top: 15px;
}
.splide__list .diamond .contentDiamond a {
  text-decoration: none;
}
.splide__list .diamond .contentDiamond a p {
  width: 205px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.splide__list .diamond .contentDiamond #stock {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.splide__list .diamond .contentDiamond .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.splide__list .diamond .contentDiamond .rate i {
  color: gold;
  font-size: 10px;
}
.splide__list .diamond .contentDiamond .rate .unrateable {
  color: #bbc0c8;
}
.splide__list .diamond .contentDiamond .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.splide__list .diamond .contentDiamond .priceItalian {
  margin-top: 11px;
}
.splide__list .diamond .contentDiamond .priceItalian span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 7px;
}
.splide__list .diamond .contentDiamond .priceItalian #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}
.splide__list .yellowBtn {
  padding: 3px 60px;
  margin-left: 17px;
  margin-top: 20px;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  height: 2.125rem;
}

.save {
  margin-top: 50px;
}
.save a {
  text-decoration: none;
}
.save a .box {
  background-color: #FBEACF;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #202435;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
}

.productsLists {
  padding: 35px 1px;
}
.productsLists .row .col {
  height: 400px;
}
.productsLists .row .italian {
  border-right: 1px solid #dbdce0;
}
.productsLists .row .italian .prImg {
  position: relative;
  text-align: center;
}
.productsLists .row .italian .prImg .prPercent {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  top: 15px;
  left: 5px;
}
.productsLists .row .italian .prImg .prPercent p {
  margin-top: 1px;
  font-size: 14px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.productsLists .row .italian .prImg .recommended {
  position: absolute;
  top: 45px;
  left: 5px;
  background-color: #71778e;
  width: 90px;
  height: 20px;
  border-radius: 4px;
}
.productsLists .row .italian .prImg .recommended p {
  margin-top: 2px;
  font-size: 10px;
  color: white;
  font-family: "Dosis", sans-serif;
}
.productsLists .row .italian .prImg img {
  width: 200px;
  margin-top: 15px;
}
.productsLists .row .italian .contentItalian a {
  text-decoration: none;
}
.productsLists .row .italian .contentItalian a p {
  width: 200px;
  margin-left: 7px;
  color: #212529;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.productsLists .row .italian .contentItalian #stock {
  color: #ed174a;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.productsLists .row .italian .contentItalian #stockin {
  color: #038e42;
  font-size: 0.6875rem;
  margin-left: 9px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.productsLists .row .italian .contentItalian .rate {
  margin-left: 9px;
  margin-top: 10px;
}
.productsLists .row .italian .contentItalian .rate i {
  color: gold;
  font-size: 10px;
}
.productsLists .row .italian .contentItalian .rate .unrateable {
  color: #bbc0c8;
}
.productsLists .row .italian .contentItalian .rate span {
  font-size: 13px;
  color: #212529;
  margin-left: 2px;
}
.productsLists .row .italian .contentItalian .priceItalian {
  margin-top: 11px;
}
.productsLists .row .italian .contentItalian .priceItalian span {
  margin-top: 10px;
  color: #bbc0c8;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  margin-left: 7px;
}
.productsLists .row .italian .contentItalian .priceItalian #newPrice {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #ed174a;
  margin-left: 5px;
}/*# sourceMappingURL=style.css.map */